<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>Hello, world!</title>
</head>

<body>
 
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand " href="#">WebSiteName</a>
        </div>
        <ul class="navbar-nav pull-right">
            <a class="btn btn-primary" href="logout">Logout</a>
        </ul>
    </div>    
  </nav>
  <div class="container">

    <ul class="nav nav-tabs">
      <li class="active"><a href="#home">Home</a></li>
      <li><a href="#shop">shop</a></li>
      <li><a href="#myorder">MyOrder</a></li>
      <li><a href="#shoporder">Shop Order</a></li>
      <li><a href="#transactionrecord">Transaction Record</a></li>
    </ul>

    <div class="tab-content">
      <div id="home" class="tab-pane fade in active">
        <!-- <div>
          <h3>Example counter</h3>
          <input class="result" id="exampleCnt" value=500 />
          <button onClick="valInc()">Increase</button>
          <button onClick="valDec()">Decrease</button>
          <script>
            let counterVal = document.getElementById("exampleCnt");
            function valInc () {
              counterVal.value = parseInt(counterVal.value) + 100;
            }
            function valDec () {
              counterVal.value = parseInt(counterVal.value) - 100;
            }
          </script>
        </div> -->
        <h3>Profile</h3>
        <div class="row">
          <div class="col-xs-10">
            Accouont: {{ user.account }}, <br/>
            PhoneNumber: {{ user.phonenumber }}, <br/>
            location: {{ user.latitude }}, {{ user.longitude }}
            <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#Modal-Location">Edit Location</button></td>
            <!-- Modal -->
            <div class="modal fade" id="Modal-Location" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="staticBackdropLabel">Edit Location</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form method="post">
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-xs-6">
                          <label for="ex41">latitude</label>
                          <input class="form-control" id="ex41" type="text" name="latitude_modify">
                        </div>
                        <div class="col-xs-6">
                          <label for="ex41">longitude</label>
                          <input class="form-control" id="ex41" type="text" name="longitude_modify">
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <input type="submit" value="Edit" class="btn btn-secondary" name="location_submit">
                    </div>
                  </form>  
                </div>
              </div>
            </div>
            walletbalance: {{ user.balance }}
            <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#Modal-Recharge">Recharge</button></td>
            <!-- Modal -->
        
            <div class="modal fade" id="Modal-Recharge" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="staticBackdropLabel">Recharge</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form method="post">
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label for="ex41">Add Value</label>
                                        <input class="form-control" id="ex41" type="text" name="recharge_addvalue">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" value="AddValue" class="btn btn-secondary" name="recharge_submit">
                            </div>
                        </form>  
                    </div>
                </div>
            </div>
          </div>

        </div>

        <!-- 
                
             -->
        <h3>Search</h3>
        <div class=" row  col-xs-8">
          <form class="form-horizontal" action="{{ url_for('home') }}">
            <div class="form-group">
              <label class="control-label col-sm-1" for="Shop">Shop</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" placeholder="Enter Shop name" name="shopname">
              </div>
              <label class="control-label col-sm-1" for="distance">distance</label>
              <div class="col-sm-5">
                <select class="form-control" id="sel1" name="distance">
                  <option>not concerned</option>
                  <option>near</option>
                  <option>medium </option>
                  <option>far</option>

                </select>
              </div>

            </div>

            <div class="form-group">

              <label class="control-label col-sm-1" for="Price">Price</label>
              <div class="col-sm-2">

                <input type="text" class="form-control" name="priceL">

              </div>
              <label class="control-label col-sm-1" for="~">~</label>
              <div class="col-sm-2">

                <input type="text" class="form-control" name="priceU">

              </div>
              <label class="control-label col-sm-1" for="Meal">Meal</label>
              <div class="col-sm-5">
                <input type="text" list="Meals" class="form-control" id="Meal" placeholder="Enter Meal" name="meal">
                <!-- <datalist id="Meals"> -->
                  <!-- <option value="Hamburger"> -->
                  <!-- <option value="coffee"> -->
                <!-- </datalist> -->
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-1" for="category">category</label>
            
              
                <div class="col-sm-5">
                  <input type="text" list="categorys" class="form-control" id="category" placeholder="Enter shop category" name="category">
                  <!-- <datalist id="category"> -->
                    <!-- <option value="fast fffffood"> -->
               
                  <!-- </datalist> -->
                </div>
                <button type="submit" style="margin-left: 18px;"class="btn btn-primary" name="search">Search</button>
              
            </div>
          </form>
        </div>
        <div class="row">
          <div class="  col-xs-8">
            <table class="table" style=" margin-top: 15px;">
              <thead>
                <tr>
                  <th scope="col">#</th>
                
                  <th scope="col">shop name</th>
                  <th scope="col">shop category</th>
                  <th scope="col">Distance</th>
               
                </tr>
              </thead>
              <tbody>
                {% for searchShop in searchShops %}    
                  <script>
                    var prodpid{{ searchShop.ID }}=[]
                    var prodpric{{ searchShop.ID }}=[]
                  </script>

                  <tr>
                    <th scope="row">{{ searchShop.ID }}</th>
                
                    <td>{{ searchShop.name }}</td>
                    <td>{{ searchShop.categorys }}</td>
                  
                    <td>{{ searchShop.distance }}</td>
                    <td>
                      <button type="button" class="btn btn-info " data-toggle="modal" data-target="#openmenu{{ searchShop.ID }}">Open menu</button>
                      <!-- Modal -->
                      <div class="modal fade" id="openmenu{{ searchShop.ID }}" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">{{ searchShop.name }} menu</h4>
                            </div>
                            <div class="modal-body">
                              <!--  -->
                              <div class="row">
                                <div class=" col-xs-12">
                                  <table class="table" style=" margin-top: 15px;">
                                    <thead>
                                      <tr>
                                        <!-- <th scope="col">#</th> -->
                                        <th scope="col">Picture</th>
                                      
                                        <th scope="col">meal name</th>
                                    
                                        <th scope="col">price</th>
                                        <th scope="col">Quantity</th>
                                      
                                        <th scope="col">Order</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      {% for product in searchShop.products %}
                                        <tr>
                                          <!-- <th scope="row">{{ product.ID }}</th> -->
                                          <td>
                                            {% if product.picture != '' %}
                                              <p><img src="data:image/jpeg;base64,{{ product.picture | safe }}" with="50" heigh="10"><p>
                                            {% endif %}
                                          </td>
                                          <td>{{ product.name }}</td>
                                        
                                          <td>{{ product.price }}</td>
                                          <td>{{ product.quantity }}</td>
                                      
                                          <!-- <td> <input type="checkbox" id="cbox1" value="Hamburger"></td> -->

                                          
                                          <td>
                                            <div>
                                              <input class="form-control" id="productNum{{ product.pid }}" value=0 name="productNum{{ product.pid }}"/>
                                              <button onClick="valInc('{{ product.pid }}')">+</button>
                                              <button onClick="valDec('{{ product.pid }}')">-</button>
                                              <script>
                                                function valInc (productPid) {
                                                  let counterVal = document.getElementById("productNum" + productPid);
                                                  counterVal.value = parseInt(counterVal.value) + 1;
                                                  if(parseInt(counterVal.value) < 0)
                                                    counterVal.value = 0;

                                                  console.log(counterVal.value)
                                                }
                                                function valDec (productPid) {
                                                  let counterVal = document.getElementById("productNum" + productPid);
                                                  counterVal.value = parseInt(counterVal.value) - 1;
                                                  if(parseInt(counterVal.value) < 0)
                                                    counterVal.value = 0;
                                                  console.log(counterVal.value)
                                                }
                                              </script>
                                            </div>
                                          </td>
                                        </tr>
                                      {% endfor %}
                                    </tbody>
                                  </table>
                                </div>
                                
                              </div>
                              <!--  -->
                            </div>
                            <label class="control-label col-sm-1" for="delivery_type">Type</label>
                            <div class="col-sm-5">
                              <select class="form-control" id="{{ searchShop.ID }}delivery_type" name="delivery_type">
                                <option>Delivery</option>
                                <option>Pick-up</option>
                              </select>
                            </div>
                            <form method="post">
                              <div class="modal-footer">
                                <input value="{{ searchShop.sid | safe }}" name="order_sid">
                                <input type="button" value="Calculate Price" class="btn btn-info" data-toggle="modal" onClick="calc{{ searchShop.ID }}()" data-target="#calcprice{{ searchShop.ID }}" name = "order_calc_price_submit">
                                <!-- <input type="submit" value="Calculate Price" class="btn btn-info" data-toggle="modal" data-target="#calcprice{{ searchShop.ID }}" name = "order_calc_price_submit"> -->
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                      <!-- Modal -->
                      <div class="modal fade" id="calcprice{{ searchShop.ID }}" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Order</h4>
                            </div>
                            
                            <form method="post">
                              <div class="modal-body">
                              <!--  -->
                        
                              <div class="row">
                                <div class="  col-xs-12">
                                  <table class="table" style=" margin-top: 15px;">
                                    <thead>
                                      <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Picture</th>
                                      
                                        <th scope="col">meal name</th>
                                    
                                        <th scope="col">price</th>
                                        <th scope="col">Order Quantity</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      {% for _product in searchShop.products %}
                                        <!-- <tr>
                                          <th scope="row">{{ _product.ID }}</th>
                                          <td>
                                            {% if _product.picture != '' %}
                                              <p><img src="data:image/jpeg;base64,{{ _product.picture | safe }}" with="50" heigh="10"><p>
                                            {% endif %}
                                          </td>
                                          <td>{{ _product.name }}</td>
                                        
                                          <td>{{ _product.price }}</td>
                                          <td>{{ _product.quantity }}</td>
                                        </tr> -->
                                        <!-- <input type="button" value="Calculate Price" class="btn btn-info" data-toggle="modal" onClick="calcSubtotal();calcDeliveryFee();calcTotal()" data-target="#calcprice{{ searchShop.ID }}" name = "order_calc_price_submit"> -->
                                      {% endfor %}
                                      <!-- add script here -->
                                      <!-- show those product num > 0 -->

                                    </tbody>
                                  </table>
                                </div>
                              </div>
                              <!--  -->
                              </div>
                              <div class="modal-footer">
                                <table class="table" style=" margin-top: 15px;">
                                  <tbody>
                                    <div id="{{ searchShop.ID }}content"></div>
                                    <input value="-1" id="{{ searchShop.ID }}deliveryFee_subtotal" name="deliveryFee_subtotal" hidden = True>
                                    {% for _product in searchShop.products %}
                                      <input value="{{ _product.pid }}" hidden=True/>
                                      <script>  
                                        prodpid{{ searchShop.ID }}.push("{{ _product.pid }}")
                                        prodpric{{ searchShop.ID }}.push("{{ _product.price }}")
                                        function dd{{ searchShop.ID }}(pids,pric){
                                          
                                          console.log("initialize subtotal value")
                                          document.getElementById("{{ searchShop.ID }}deliveryFee_subtotal").value = 0
                                          for(let i=0;i<pids.length;i++){
                                            console.log(pids[i])
                                            console.log(pric[i])

                                            var el{{ searchShop.ID }} = document.getElementById('{{ searchShop.ID }}content');
                                            var num{{ searchShop.ID }} = parseInt(document.getElementById("productNum"+pids[i]).value);
                                            var content{{ searchShop.ID }};
                                            console.log("num{{ searchShop.ID }}",num{{ searchShop.ID }})
                                            if  (num{{ searchShop.ID }} > 0) {
                                              content{{ searchShop.ID }} = "<tr><td>Hello world</td></tr>"
                                              // content = '<tr><td>{% if _product.picture != "" %}<p><img src="data:image/jpeg;base64,{{ _product.picture | safe }}" with="50" heigh="10"><p>{% endif %}</td><td>"{{ _product.name }}"</td><td>"{{ _product.price }}"</td><td>"{{ _product.quantity }}"</td></tr>';
                                              console.log(pids[i])
                                              document.getElementById("{{ searchShop.ID }}deliveryFee_subtotal").value = parseInt(pric[i]) * num{{ searchShop.ID }} + parseInt(document.getElementById("{{ searchShop.ID }}deliveryFee_subtotal").value);
                                              console.log("cur sub total")
                                              console.log(document.getElementById("{{ searchShop.ID }}deliveryFee_subtotal").value);
                                            }
                                            else {
                                              content{{ searchShop.ID }} = '';
                                            }
                                            el{{ searchShop.ID }}.insertAdjacentHTML('afterbegin', content{{ searchShop.ID }});
                                          }
                                        }
                                        
                                        function calc{{ searchShop.ID }}(){
                                          dd{{ searchShop.ID }}(prodpid{{ searchShop.ID }},prodpric{{ searchShop.ID }});
                                          calcSubtotal{{ searchShop.ID }}();
                                          calcDeliveryFee{{ searchShop.ID }}();
                                          calcTotal{{ searchShop.ID }}();
                                        }
                                        function calcSubtotal{{ searchShop.ID }}(){
                                          document.getElementById("{{ searchShop.ID }}calcPrice_subtotal").value = document.getElementById("{{ searchShop.ID }}deliveryFee_subtotal").value;
                                        }
                                        function calcDeliveryFee{{ searchShop.ID }}() {
                                          let deliveryType = document.getElementById("{{ searchShop.ID }}delivery_type");
                                          let deliveryFee_delivery = document.getElementById("{{ searchShop.ID }}deliveryFee_delivery");
                                          let calcPrice_deliveryFee = document.getElementById("{{ searchShop.ID }}calcPrice_deliveryFee");
                                          if(deliveryType.value === "Pick-up"){
                                            calcPrice_deliveryFee.value = 0;
                                          }
                                          else{
                                            calcPrice_deliveryFee.value = deliveryFee_delivery.value;
                                          }
                                        }
                                        function calcTotal{{ searchShop.ID }}() {
                                          let subtotal = document.getElementById("{{ searchShop.ID }}calcPrice_subtotal");
                                          let deliveryFee = document.getElementById("{{ searchShop.ID }}calcPrice_deliveryFee");
                                          let total = document.getElementById("{{ searchShop.ID }}calcPrice_total");
                                          total.value = parseInt(subtotal.value) + parseInt(deliveryFee.value);
                                        }
                                      </script>
                                    {% endfor %}
                                  </tbody>
                                </table>
                                <h5>Subtotal: $<input class="form-control" id="{{ searchShop.ID }}calcPrice_subtotal" value=-1 name="calcPrice_subtotal"/></h5>
                                <h5>Delivery fee: $ <input class="form-control" id="{{ searchShop.ID }}calcPrice_deliveryFee" value="-1" name="calcPrice_deliveryFee"/></h5>
                                <h5>Total Price: $ <input class="form-control" id="{{ searchShop.ID }}calcPrice_total" value=100 name="calcPrice_total"/></h5>
                                <input value="{{ searchShop.sid | safe }}" name="order_sid" hidden = True>
                                <input value="{{ searchShop.deliveryFee | safe }}" id="{{ searchShop.ID }}deliveryFee_delivery" name="deliveryFee_delivery" hidden = True>
                                <input type="submit" value="Order" class="btn btn-primary" name = "order_submit">
                                <!-- <input type="submit" value="Order" class="btn btn-primary" name = "order_text"> -->
                                <script>
          
                                </script>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

        </div>
      </div>
      
      <div id="shop" class="tab-pane fade">
        <h3> Start a business </h3>
        {% with messages = get_flashed_messages(category_filter=["name_repeated"]) %}
            {% if messages %}
                {% for message in messages %}                  
                    <div class="alert alert-warning" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form method="post" class="fh5co-form animate-box" data-animate-effect="fadeIn">
            <div class="form-group ">
            <div class="row">
                <div class="col-xs-2">
                <label for="ex5">shop name</label>
                {% if shop_form.Register_submit.data %}
                    {% for message in shop_form.name.errors %}
                        <div>{{ message }}</div>
                    {% endfor %}
                {% endif %}
                <input class="form-control" id="ex5" placeholder="macdonald" type="text" name="name">
                </div>
                <div class="col-xs-2">
                <label for="ex5">shop category</label>
                {% if shop_form.Register_submit.data %}
                    {% for message in shop_form.categorys.errors %}
                        <div>{{ message }}</div>
                    {% endfor %}
                {% endif %}
                <input class="form-control" id="ex5" placeholder="fast food" type="text" name="categorys">
                </div>
                <div class="col-xs-2">
                <label for="ex6">latitude</label>
                {% if shop_form.Register_submit.data %}
                    {% for message in shop_form.latitude.errors %}
                        <div>{{ message }}</div>
                    {% endfor %}
                {% endif %}
                <input class="form-control" id="ex6" placeholder="24.78472733371133" type="text" name="latitude">
                </div>
                <div class="col-xs-2">
                <label for="ex8">longitude</label>
                {% if shop_form.Register_submit.data %}
                    {% for message in shop_form.longitude.errors %}
                        <div>{{ message }}</div>
                    {% endfor %}
                {% endif %}
                <input class="form-control" id="ex8" placeholder="121.00028167648875" type="text" name="longitude">
                </div>
            </div>
            </div>
        
            <div class=" row" style=" margin-top: 25px;">
            <div class=" col-xs-3">
                <input type="submit" value="Register" class="btn btn-primary" name="Register_submit">
            </div>
            </div>
        </form>
        <hr>

        {% if has_shop is not none%}
            {% for _shop in has_shop %}
            <div class="jumbotron">
                <h1 class="display-4">{{_shop.name}}</h1>
                <p class="lead">Category: {{_shop.categorys}}</p>
                <hr class="my-4">
                <p>owner: {{user.name}}</p>
                <p>store location: ({{_shop.latitude}},{{_shop.longitude}})</p>
                <hr class="my-4">
                <div class="row">
                    <div class="  col-xs-8">
                        <table class="table" style=" margin-top: 15px; min-width:150%; max-width: 200%;">
                            <thead>
                                <tr>
                                <th scope="col">#</th>
                                <th scope="col">Picture</th>
                                <th scope="col">meal name</th>
                            
                                <th scope="col">price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                              {% for _product in shop_product %}
                                  {% if _product.Shop.sid == _shop.sid %}
                                      <tr>
                                        <th scope="row">1</th>
                                        <td>
                                          {% if _product.picture != '' %}
                                            <p><img src="data:image/jpeg;base64,{{ _product.picture | safe }}"><p>
                                          {% endif %}
                                        </td>
                                        <td>{{ _product.name }}</td>
                                        <td>{{ _product.price }}</td>
                                        <td>{{ _product.quantity }}</td>
                                        <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#Modal-Product-1">Edit</button></td>
                                        <!-- Modal -->
                                    
                                        <div class="modal fade" id="Modal-Product-1" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="staticBackdropLabel">{{ _product.name }} Edit</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <form method="post">
                                                        <div class="modal-body">
                                                            <div class="row" >
                                                                <div class="col-xs-6">
                                                                    <label for="ex71">price</label>
                                                                    <input class="form-control" id="ex71" type="text" name="price_modify">
                                                                </div>
                                                                <div class="col-xs-6">
                                                                    <label for="ex41">quantity</label>
                                                                    <input class="form-control" id="ex41" type="text" name="quantity_modify">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <input value="{{ _product.pid | safe}}" name = "modify_pid" hidden = True>
                                                            <input type="submit" value="Edit" class="btn btn-secondary" name="Modify_submit">
                                                        </div>
                                                    </form>  
                                                </div>
                                            </div>
                                        </div>
                                        <td>
                                            <form method="post">
                                                <input value="{{ _product.pid | safe}}" name = "delete_pid" hidden = True>
                                                <input type="submit" value="Delete" class="btn btn-danger" name="Delete_submit"></td>
                                            </form>
                                      </tr>
                                  {% endif %}
                              {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <p class="lead">
            </div>
            {% endfor %}
            <h3>ADD</h3>
            <form method="post" enctype=multipart/form-data class="fh5co-form animate-box" data-animate-effect="fadeIn">
                <div class="form-group ">
                    <div class="row">
                        <div class="col-xs-6">
                            {% if product_form.Add_submit.data %}
                                {% for message in product_form.shop_name.errors %}
                                    <div>{{ message }}</div>
                                {% endfor %}
                            {% endif %}
                            <label for="ex3">shop name</label>
                            <input class="form-control" id="ex3" type="text" name = "shop_name">
                        </div>
                        <div class="col-xs-6">
                            <label for="ex3">meal name</label>
                            {% if product_form.Add_submit.data %}
                                {% for message in product_form.name.errors %}
                                    <div>{{ message }}</div>
                                {% endfor %}
                            {% endif %}
                            <input class="form-control" id="ex3" type="text" name = "name">
                        </div>
                    </div>
                    <div class="row" style=" margin-top: 15px;">
                        <div class="col-xs-3">
                        <label for="ex7">price</label>
                        {% if product_form.Add_submit.data %}
                            {% for message in product_form.price.errors %}
                                <div>{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                        <input class="form-control" id="ex7" type="text" name = "price">
                        </div>
                        <div class="col-xs-3">
                        <label for="ex4">quantity</label>
                        {% if product_form.Add_submit.data %}
                            {% for message in product_form.quantity.errors %}
                                <div>{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                        <input class="form-control" id="ex4" type="text" name = "quantity">
                        </div>
                    </div>
                    
                    <input id="myFile" type="file" accept=".jpg, .png, .jpeg" multiple class="file-loading" name = "picture">
                    <input type="submit" value="Add" class="btn btn-primary" name = "Add_submit">
                </div>
            </form>
        {% endif %}

      </div>

      <div id="myorder" class="tab-pane fade">
        
        <h3>Search My order</h3>
        <label class="control-label col-sm-1" for="status">status</label>
        <!-- <form action="{{ url_for('myorder') }}"> -->
          <!-- need POST ? -->
        <div class="col-sm-5">
          <select class="form-control" id="mySel" name="myOrderStatus" onchange="subb('mySel','myOrderStatus')">
            <option value="0">All</option>
            <option value="1">未完成</option>
            <option value="2">已完成</option>
            <option value="3">已取消</option>
            <!-- selected -->
          </select>
        </div>
        <!-- </form> -->
        
        <div class="row">
          <div class="  col-xs-8">
            <table class="table" style=" margin-top: 15px;">
              <thead>
                <tr>
                  <th scope="col">Order ID</th>
                  <th scope="col">status</th>
                  <th scope="col">Start</th>
                  <th scope="col">End</th>
                  <th scope="col">Shop name</th>
                  <th scope="col">Total Price</th>
                  <th scope="col">Order Details</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for searchMyOrder in searchMyOrders %}    
                  <tr>
                    <th scope="row">{{ searchMyOrder.ID }}</th>
                    <td>{{ searchMyOrder.status }}</td>
                    <td>{{ searchMyOrder.timeStart }}</td>
                    <td>{{ searchMyOrder.timeEnd }}</td>
                    <td>{{ searchMyOrder.shopName}}</td>
                    <td>{{ searchMyOrder.price }}</td>
                    <td>
                      <button type="button" class="btn btn-info " data-toggle="modal" data-target="#orderdetail">Order Details</button>
                      <!-- Modal -->
                      <div class="modal fade" id="orderdetail" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Order Detail</h4>
                            </div>
                            <div class="modal-body">
                            <!--  -->
                      
                            <div class="row">
                              <div class="  col-xs-12">
                                <table class="table" style=" margin-top: 15px;">
                                  <thead>
                                    <tr>
                                      <th scope="col">Picture</th>
                                    
                                      <th scope="col">meal name</th>
                                  
                                      <th scope="col">price</th>
                                      <th scope="col">Order Quantity</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for product in searchMyOrder.products %}
                                      <tr>
                                        <td>
                                          {% if product.picture != '' %}
                                            <p><img src="data:image/jpeg;base64,{{ product.picture | safe }}" with="50" heigh="10"><p>
                                          {% endif %}
                                        </td>
                                        <td>{{ product.name }}</td>
                                        <td>{{ product.price }}</td>
                                        <td>{{ product.quantity }}</td>
                                      </tr>
                                    {% endfor %}
                                  </tbody>
                                </table>
                              </div>

                            </div>
                            

                            <!--  -->
                            </div>
                            <div class="modal-footer">
                              Total Price { searchMyOrder.price }}
                            </div>
                          </div>
                          
                        </div>
                      </div>
                    </td>
                    <td>
                      <form method="post">
                        <input value="{{ searchMyOrder.oid | safe}}" name = "searchMyOrder_oid" hidden = True>
                        <input type="submit" value="Cancel" class="btn btn-danger" name="searchMyOrder_Cancel_submit">
                      </form>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

        </div>
      </div>

      <div id="shoporder" class="tab-pane fade">
        {% for _shop in has_shop %}
          <h3>Search {{ _shop.name }} order</h3>
          <input value="{{ _shop.sid }}" name="shopid" hidden=True/>
          <label class="control-label col-sm-1" for="status">status</label>
          <div class="col-sm-5">
            <select class="form-control" id="sel1" name="status">
              <option>All</option>
              <option>未完成</option>
              <option>已完成</option>
              <option>已取消</option>
            </select>
          </div>
          <div class="row">
            <div class="  col-xs-8">
              <table class="table" style=" margin-top: 15px;">
                <thead>
                  <tr>
                    <th scope="col">Order ID</th>
                    <th scope="col">status</th>
                    <th scope="col">Start</th>
                    <th scope="col">End</th>
                    <th scope="col">Shop name</th>
                    <th scope="col">Total Price</th>
                    <th scope="col">Order Details</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for searchShopOrder in searchShopOrders %}    
                    <tr>
                      <th scope="row">{{ searchShopOrder.ID }}</th>
                      <td>{{ searchShopOrder.status }}</td>
                      <td>{{ searchShopOrder.timeStart }}</td>
                      <td>{{ searchShopOrder.timeEnd }}</td>
                      <td>{{ searchShopOrder.shopName}}</td>
                      <td>{{ searchShopOrder.price }}</td>
                      <td>
                        <button type="button" class="btn btn-info " data-toggle="modal" data-target="#orderdetail">Order Details</button>
                        <!-- Modal -->
                        <div class="modal fade" id="orderdetail" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                          <div class="modal-dialog">
                          
                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Order Detail</h4>
                              </div>
                              <div class="modal-body">
                              <!--  -->
                        
                              <div class="row">
                                <div class="  col-xs-12">
                                  <table class="table" style=" margin-top: 15px;">
                                    <thead>
                                      <tr>
                                        <th scope="col">Picture</th>
                                      
                                        <th scope="col">meal name</th>
                                    
                                        <th scope="col">price</th>
                                        <th scope="col">Order Quantity</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      {% for product in searchShopOrder.products %}
                                        <tr>
                                          <td>
                                            {% if product.picture != '' %}
                                              <p><img src="data:image/jpeg;base64,{{ product.picture | safe }}" with="50" heigh="10"><p>
                                            {% endif %}
                                          </td>
                                          <td>{{ product.name }}</td>
                                          <td>{{ product.price }}</td>
                                          <td>{{ product.quantity }}</td>
                                        </tr>
                                      {% endfor %}
                                    </tbody>
                                  </table>
                                </div>

                              </div>
                              

                              <!--  -->
                              </div>
                              <div class="modal-footer">
                                Total Price { searchShopOrder.price }}
                              </div>
                            </div>
                            
                          </div>
                        </div>
                      </td>
                      <td>
                        <form method="post">
                          <input value="{{ searchShopOrder.oid | safe}}" name = "searchShopOrder_oid" hidden = True>
                          <input type="submit" value="Done" class="btn btn-danger" name="searchShopOrder_Done_submit">
                          <input type="submit" value="Cancel" class="btn btn-danger" name="searchShopOrder_Cancel_submit">
                        </form>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

          </div>
        {% endfor %}
      </div>

      <div id="transactionrecord" class="tab-pane fade">
        <h3>Search transaction record</h3>
        <label class="control-label col-sm-1" for="action">Action</label>
        <div class="col-sm-5">
          <select class="form-control" id="sel1" name="action">
            <option>All</option>
            <option>Payment</option>
            <option>Receive</option>
            <option>Recharge</option>
          </select>
        </div>
        <div class="row">
          <div class="  col-xs-8">
            <table class="table" style=" margin-top: 15px;">
              <thead>
                <tr>
                  <th scope="col">Record ID</th>
                  <th scope="col">Action</th>
                  <th scope="col">Time</th>
                  <th scope="col">Trader</th>
                  <th scope="col">Amount Change</th>
                </tr>
              </thead>
              <tbody>
                {% for searchTransactionRecord in searchTransactionRecords %}    
                  <tr>
                    <th scope="row">{{ searchTransactionRecord.ID }}</th>
                    <td>{{ searchTransactionRecord.status }}</td>
                    <td>{{ searchTransactionRecord.timeStart }}</td>
                    <td>{{ searchTransactionRecord.timeEnd }}</td>
                    <td>{{ searchTransactionRecord.shopName}}</td>
                    <td>{{ searchTransactionRecord.price }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> -->
  <script>
    function init(){
      document.getElementById('sel1').onchange=function(){subm(myOrderStatus)}
    }
    function subb(id,key){
      const URL = '/get-status'
      const xhr = new XMLHttpRequest();
      var val=document.getElementById(id).value
      sender = JSON.stringify(val)
      xhr.open('POST',URL);
      xhr.send(sender);
      window.location.href ="http://tonych.me:3450?myOrderStatus=7";
    }
    $(document).ready(function () {
      $(".nav-tabs a").click(function () {
        $(this).tab('show');
      });
    });

  </script>
{% with messages = get_flashed_messages(category_filter=["product add errors", "product delete success", "product add success", "register success", "product modify success"]) %}
    {% if messages %}
        <div class="model-body">
            {% for message in messages %}
                <script>
                    window.alert( "{{message | safe}}" );
                </script>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>